extends layout

block content
  //- p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-md-12
        .col-md-3
        .col-md-6
          h1 Game Store Admin Mode
          ul.nav.navbar-nav.ml-auto
            if !user
                p
                  a.btn.btn-raised(href='/login', role='button') Login »
                  a.btn.btn-raised(href='/signup', role='button') Create Account

            else
              if user.email.split('@')[1] === 'xsolla.com'
                a.btn.btn-raised(href='https://xsolla-game-store.netlify.app/?APIKEY=key', role='button') Open store builder

        .col-md-3
